*{
    font-family: Arial, Helvetica, sans-serif;
}

div{
    margin-left: auto;
    margin-right: auto;
    height: 29.7cm;
    width: 21cm;
    border: 1px solid;
    background-color: #FAEEDE;  
}


img{
    height: 4cm;
    width: 4cm;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.nama{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 5px;
    margin-top: 20px;
    text-align: center;
}
.alamat{
    font-weight:bold;
    text-align: center;
    font-size: 12px;
    margin-bottom: 30px;
}

.email{
    color: blue;
}
.ringkasanbox{
    border: 2px solid;
    border-radius:10px;
    height: auto;
    width: 16cm;
    margin-left: 2.5cm;
    background-color: #DEF0FA;
}
.ringkasan{
    border:1px solid;
    border-radius: 7px;
    margin-top: 0px;
    padding-left:0.2cm;
    font-size: 16px;
    font-weight: bold;
    background-color: #5F8CA5;
}
#ringkasan{
    line-height: 20px;
    padding-left:0.2cm;
    padding-right: 0.2cm;
    text-align: justify;
    font-size: 13px;
}
.pendidikanbox{
    border: 2px solid;
    border-radius:10px;
    height: auto;
    width: 16cm;
    margin-left: 2.5cm;
    background-color: #DEF0FA;
    margin-top: 30px;
}
.pendidikan{
    border:1px solid;
    border-radius: 7px;
    margin-top: 0px;
    padding-left:0.2cm;
    font-size: 16px;
    font-weight: bold;
    background-color: #5F8CA5;
}
#pendidikan1{
    padding-left: 0.2cm;
    font-size: 14px;
    margin-bottom: 5px;
}
#pendidikan2{
    font-size: 13px;
    padding-left: 0.2cm;
    margin-top: auto;
}
.pengalamanbox{
    border: 2px solid;
    border-radius:10px;
    height: auto;
    width: 16cm;
    margin-left: 2.5cm;
    background-color: #DEF0FA;
    margin-top: 30px;
}
.pengalaman{
    border:1px solid;
    border-radius: 7px;
    margin-top: 0px;
    padding-left:0.2cm;
    font-size: 16px;
    font-weight: bold;
    background-color: #5F8CA5;
}
#pengalaman1{
    padding-left: 0.2cm;
    font-size: 14px;
    margin-bottom: 5px;
}
#pengalaman2{
    font-size: 13px;
    padding-left: 0.2cm;
    margin-top: auto;
    margin-bottom: auto;
}
#listPKL{
    margin-top: 9px;
    font-size: 13px;
}
.kemampuanbox{
    border: 2px solid;
    border-radius:10px;
    height: auto;
    width: 16cm;
    margin-left: 2.5cm;
    background-color: #DEF0FA;
    margin-top: 30px;
}
.kemampuan{
    border:1px solid;
    border-radius: 7px;
    margin-top: 0px;
    padding-left:0.2cm;
    font-size: 16px;
    font-weight: bold;
    background-color: #5F8CA5;
}
.listkemampuan{
    columns: 2;
    font-size: 13px;
    line-height: 18px;
}

.bahasabox{
    border: 2px solid;
    border-radius:10px;
    height: auto;
    width: 16cm;
    margin-left: 2.5cm;
    background-color: #DEF0FA;
    margin-top: 30px;
}
.bahasa{
    border:1px solid;
    border-radius: 7px;
    margin-top: 0px;
    padding-left:0.2cm;
    font-size: 16px;
    font-weight: bold;
    background-color: #5F8CA5;
}
.listbahasa{
    columns: none;
    font-size: 13px;
    line-height: 18px;
}
li ul{
    padding-left: 0.6cm;
}